@import 'src/styles/index';

div.home {

    @include page;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .mainText {
        font-size: 2rem;
        span {
            color: $primary;
        }
        text-shadow: 2px 2px rgba(0,0,0, 1);
    }
    .subText {
        font-size: 1.6rem;
        text-shadow: 2px 2px rgba(0,0,0, 1);
    }

    .outlineBtn {
        text-shadow: 2px 2px rgba(0,0,0, 1);
        &:hover {
            text-shadow: none;
        }
    }

    p {
        max-width: 800px;
        margin-top: 0.2rem;

        @include phone-lg {
            max-width: 600px;
        }
    }
}