@import 'src/styles/index';

div.home {

    @include page;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 45px rgba(0,0,0, 1);

    .mainText {
        font-size: 2rem;
        span {
            color: $primary;
        }
    }
    .subText {
        font-size: 1.6rem;
    }

    p {
        max-width: 800px;
        margin-top: 0.2rem;

        @include phone-lg {
            max-width: 600px;
        }
    }
}